body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    grid-area: 'header';
}

main {
    grid-area: main;
}

footer {
    grid-area: 'footer';
}

#mapid {
    position: absolute;
    top: 90px;
    bottom: 90px;
    width: 100%;
}

#SelectieRegios{
    position: absolute;
    top: 35px;
    right: 100px;
}

#regios{
    width: 150px;
}

#logoAntwerpen{
    width: 90;
}

footer{
    position: absolute;
    bottom: 25;
    left: 50%;
}
#testOutput{
    position: absolute;
    top: 35px;
    right: 30%;
}