<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> <%= pokemon.name %> </h2>
    <img src="<%= pokemon.sprites.animated %>">
</body>
</html>