<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(i=0; i<=4;i++) { %>
        <h2> <%= pokemon[i].name %> </h2>
        <img src="<%= pokemon[i].sprites.animated %>">
    <% } %>
</body>
</html>