body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    grid-area: 'header';
}

main {
    grid-area: main;
}

footer {
    grid-area: 'footer';
}

#mapid {
    position: absolute;
    top: 100px;
    bottom: 100px;
    width: 100%;
}